<div class="row-fluid">
  <div class="container hero-unit span6 offset3" align=center>
    <h2>
      Aplikasi permohonan STCK Ditlantas Polda Bali
    </h2>
    <%= render 'devise/menu/login' %>
  </div>
</div>
