<div id="error_messages">
<% if object.errors.any? %>
  <div class="alert alert-error fade in">
  <a href="#" data-dismiss="alert" class="close">×</a>
  <h3>Kesalahan pengisian</h3>
  <ul>
  <% object.errors.each do |key, value| %>
      <li><%= value %></li>
  <% end %>
  </ul>
    </div>
<% end %>
</div>


