<% if target.errors.any? %>
  <div class="alert alert-block">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h2>The form contains <%= pluralize(target.errors.count, "error") %>.</h2>
      <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li>* <%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>
<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>

