<!--- Filters --->
<%= form_tag stck_requests_path, :method => 'get', :class=>"navbar-form pull-right form-search" do %>
    <span class="help-inline">Cari nomor rangka/nomor mesin/jenis/model</span>
    <%= text_field_tag :search, params[:search],:class=>"search-query" %>
    <%= submit_tag "Search", :name => nil %>
<% end %>
<!--- End of form --->
