<footer class="footer">
  <nav>
    <ul class="inline">
    <li>
    <small>
      <b>Aplikasi permohonan STCK</b> by Tovianus & rekan
    </small>
    </li>
    <li><%= link_to "Help", help_path %></li>
    <li><%= link_to "About",   about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>

